{% extends "base.html.twig" %}

{% block body %}

	<div class="container mt-4">

		<h1>
		Modidication  de  recettes </h1>

        {{ form_start(form) }}
		
		<div class="form-group">
			{{form_label(form.name)}}
			{{form_widget(form.name)}}
			<div class="form-error">
				{{ form_errors(form.name) }}
			</div>
		</div>

		<div class="form-group">
			{{form_label(form.nbPeople)}}
			{{form_widget(form.nbPeople)}}
			<div class="form-error">
				{{ form_errors(form.nbPeople) }}
			</div>
		</div>
		
		<div class="form-group">
			{{form_label(form.time)}}
			{{form_widget(form.time)}}
			<div class="form-error">
				{{ form_errors(form.time) }}
			</div>
		</div>
		<div class="form-group">
			{{form_label(form.difficutly)}}
			{{form_widget(form.difficutly)}}
			<div class="form-error">
				{{ form_errors(form.difficutly) }}
			</div>
		</div>
		<div class="form-group">
			{{form_label(form.description)}}
			{{form_widget(form.description)}}
			<div class="form-error">
				{{ form_errors(form.description) }}
			</div>
		</div>

		<div class="form-group">
			{{form_label(form.price)}}
			{{form_widget(form.price)}}
			<div class="form-error">
				{{ form_errors(form.price) }}
			</div>
		</div>
		<div class="form-group">
			{{form_label(form.isFavorite)}}
			{{form_widget(form.isFavorite)}}
			<div class="form-error">
				{{ form_errors(form.isFavorite) }}
			</div>
		</div>
		<div class="form-group">
			{{form_label(form.ingredient)}}
			{{form_widget(form.ingredient)}}
			<div class="form-error">
				{{ form_errors(form.ingredient) }}
			</div>
		</div>

		<div class="form-group d-flex justify-content-start">
			<div>
				{{form_row(form.submit)}}
			</div>


		</div>

		{{ form_end(form) }}

		

	</div>

{% endblock %}
