<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
	<div class="container-fluid">
		<a class="navbar-brand" href="#">Navbar</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarColor01">
			<ul class="navbar-nav me-auto">
				<li class="nav-item">
					<a class="nav-link active" href="{{path('home.index')}}">Accueil
						<span class="visually-hidden">(current)</span>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{path('recipe_index_public')}}">
						recette de la communauté</a>

				</li>
			</li>
			{% if app.user %}

				<li class="nav-item">
					<a class="nav-link" href="{{path('homepage')}}">
						mes ingredients</a>

				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{path('recipe_index')}}">
						mes recettes</a>

				</li>
			{% endif %}
		</li>
	</ul>
	<div class="d-flex">
		<ul class="navbar-nav me-auto">

			{% if app.user %}
				<li class="nav-item dropdown" style="margin-right:5rem;">
					<a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{{app.user.fullName}}</a>
					<div class="dropdown-menu">
						<a class="dropdown-item" href="{{path('User_edit',{id: app.user.id})}}">modifier mes information</a>
						<a class="dropdown-item" href="{{path('User_edit_Password',{id:app.user.id})}}">modifier mon mot de passe</a>
						<a class="dropdown-item" href="{{path('app_contact')}}">contact</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="{{path('security_logout')}}">deconnexion</a>
						
					</div>
				</li>

			{% else %}

				<li class="nav-item">
					<a class="nav-link" href="{{path('security_registration')}}">
						inscription</a>

				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{path('security_login')}}">
						connexion</a>

				</li>

				<li class="nav-item">
				<a class="nav-link" href="{{path('app_contact')}}">contact</a>
				</li>


			{% endif %}


		</ul>


	</div>

</div></div></nav>

